<header class="style5" id="mt-header">
    <!-- mt bottom bar start here -->
    <div class="mt-bottom-bar">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!-- mt logo start here -->
            <div class="mt-logo"><a href="#"><img alt="schon" src="assets/images/mt-logo.png"></a></div>
            <span class="tel"> +1 (555) 333 22 11</span>
            
            <!-- mt nav box start here -->
            <div class="mt-nav-box">
              <ul class="mt-top-list hidden-sm hidden-xs">
                <li><a href="#">My Account</a></li>
                <li><a href="#">Checkout</a></li>
                <li><a href="#">Wishlist</a></li>
              </ul>
              <!-- mt holder start here -->
              <div class="mt-holder">
                <!-- navigation start here -->
                <nav id="nav">
                  <ul>
                    <li>
                      <a class="drop-link" href="homepage5.html">HOME <i class="fa fa-angle-down hidden-lg hidden-md" aria-hidden="true"></i></a>
                 
                    </li>
                    <li>
                      <a class="drop-link" href="product-grid-view.html">PRODUCTS <i class="fa fa-angle-down hidden-lg hidden-md" aria-hidden="true"></i></a>
                      <div class="s-drop">
                        <ul>
                          <li><a href="product-grid-view.html">Product Grid View</a></li>
                          <li><a href="product-grid-view2.html">Product Grid View2</a></li>
                          <li><a href="product-grid-view3.html">Product Grid View3</a></li>
                          <li><a href="product-grid-view4.html">Product Grid View4</a></li>
                          <li><a href="product-grid-view5.html">Product Grid View5</a></li>
                          <li><a href="product-grid-view6.html">Product Grid View6</a></li>
                          <li><a href="product-grid-view7.html">Product Grid View7</a></li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <a class="drop-link" href="blog-right-sidebar.html">Blog <i class="fa fa-angle-down hidden-lg hidden-md" aria-hidden="true"></i></a>
                      <div class="s-drop">
                        <ul>
                          <li><a href="blog-fullwidth-page.html">Blog Fullwidth Page</a></li>
                          <li><a href="blog-right-sidebar2.html">blog right sidebar2</a></li>
                          <li><a href="blog-postlist-3-masonry.html">blog postlist masonry</a></li>
                          <li><a href="blog-post-detail-sidebar.html">blog post detail sidebar</a></li>
                          <li><a href="blog-post-detail-full-width.html">blog post detail full width</a></li>
                        </ul>
                      </div>
                    </li>
                    <!--Begin add article-->
                    
                      <li><a routerLink="User/addarticle" >Add Article</a></li>    
                    <!--end add article-->
                    <!--Begin Retreive article-->
                    
                    <li><a routerLink="User/retrieveAllArticles" >All Article</a></li>                   
                    <!--end Retreive article-->
                    <li class="drop">
                      <a href="#">PAGES <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      <!-- mt dropmenu start here -->
                      <div class="mt-dropmenu text-left">
                        <!-- mt frame start here -->
                        <div class="mt-frame">
                          <!-- mt f box start here -->
                          <div class="mt-f-box">
                            <!-- mt col3 start here -->
                            <div class="mt-col-3">
                              <div class="sub-dropcont">
                                <strong class="title"><a href="product-grid-view.html" class="mt-subopener">Shop Pages</a></strong>
                                <div class="sub-drop">
                                  <ul>
                                    <li><a href="product-grid-view.html">Product Grid View</a></li>
                                    <li><a href="product-list-view.html">Product List View</a></li>
                                    <li><a href="product-quickview.html">Product QuickView popup</a></li>
                                    <li><a href="product-detail.html">Product Detail</a></li>
                                    <li><a href="product-detail2.html">Product Detail V2</a></li>
                                    <li><a href="order-shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="order-checkout.html">Checkout</a></li>
                                    <li><a href="ordertracking.html">Order Tracking</a></li>
                                    <li><a href="wishlist.html">Wish List</a></li>
                                    <li><a href="faq.html">FAQ Page</a></li>
                                    <li><a href="loginpage.html">Login Page</a></li>
                                    <li><a href="registerpage.html">Register Page</a></li>
                                    <li><a href="newsletter-popup.html">Newsletter Popup</a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <!-- mt col3 end here -->
                            <!-- mt col3 start here -->
                            <div class="mt-col-3">
                              <div class="sub-dropcont">
                                <strong class="title"><a href="#" class="mt-subopener">KITCHEN FURNITURE</a></strong>
                                <div class="sub-drop">
                                  <ul>
                                    <li><a href="#">Kitchen Taps</a></li>
                                    <li><a href="#">Breakfast time</a></li>
                                    <li><a href="#">Cooking</a></li>
                                    <li><a href="#">Food Storage Boxes</a></li>
                                    <li><a href="#">Spice Jars</a></li>
                                    <li><a href="#">Napskins</a></li>
                                    <li><a href="#">Oven Gloves</a></li>
                                    <li><a href="#">Placemats</a></li>
                                    <li><a href="#">Cooking</a></li>
                                    <li><a href="#">Food Storage Boxes</a></li>
                                    <li><a href="#">Spice Jars</a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <!-- mt col3 end here -->

                            <!-- mt col3 start here -->
                            <div class="mt-col-3 promo">
                              <div class="mt-promobox">
                                <a href="#"><img src="assets/images/banner-drop.jpg" alt="promo banner" class="img-responsive"></a>
                              </div>
                            </div>
                            <!-- mt col3 end here -->
                          </div>
                          <!-- mt f box end here -->
                        </div>
                        <!-- mt frame end here -->
                      </div>
                      <!-- mt dropmenu end here -->
                      <span class="mt-mdropover"></span>
                    </li>
                    <li><a href="about-us.html">About</a></li>
                    <li>
                      <a class="drop-link" href="contact-us.html">Contact <i class="fa fa-angle-down hidden-lg hidden-md" aria-hidden="true"></i></a>
                      <div class="s-drop">
                        <ul>
                          <li><a href="contact-us.html">Contact</a></li>
                          <li><a href="contact-us2.html">Contact 2</a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </nav><!-- navigation end here -->
                <!-- mt icon list start here -->
                <ul class="mt-icon-list">
                  <li class="hidden-lg hidden-md">
                    <a href="#" class="bar-opener mobile-toggle">
                      <span class="bar"></span>
                      <span class="bar small"></span>
                      <span class="bar"></span>
                    </a>
                  </li>
                  <li><a class="icon-magnifier" href="#"></a></li>
                </ul><!-- mt icon list end here -->
              </div><!-- mt holder end here -->
            </div><!-- mt nav box end here -->
          </div>
        </div>
      </div>
    </div><!-- mt bottom bar end here -->
  </header>
