<!-- main container of all the page elements -->
<div id="wrapper">
    <!-- Page Loader -->
    <!-- <div id="pre-loader" class="loader-container">
      <div class="loader">
        <img src="assets/images/svg/rings.svg" alt="loader">
      </div>
    </div> -->
    <!-- W1 start here -->
    <div class="w1">
      <!-- mt header style5 start here -->
      <app-header></app-header>
      <!-- mt header style5 end here -->
      <!-- mt search popup start here -->
      <div class="mt-search-popup">
        <div class="mt-holder">
          <a href="#" class="search-close"><span></span><span></span></a>
          <div class="mt-frame">
            <form action="#">
              <fieldset>
                <input type="text" placeholder="Search...">
                <span class="icon-microphone"></span>
                <button class="icon-magnifier" type="submit"></button>
              </fieldset>
            </form>
          </div>
        </div>
      </div><!-- mt search popup end here -->
      <!-- mt main start here -->
      <main id="mt-main">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <!-- banner frame start here -->
              <div class="banner-frame mt-paddingsmzero wow fadeInUp" data-wow-delay="0.4s">
                <!-- slider 7 start here -->
                <div class="slider-7 mt-paddingbottomsm wow fadeInLeft" data-wow-delay="0.4s">
                  <!-- slider start here -->
                  <div class="slider banner-slider">
                    <!-- holder star here -->
                    <div class="s-holder">
                      <img src="assets/images/sliders/img07.jpg" alt="assets/images description">
                      <div class="s-box">
                        <strong class="s-title">FURNITURE DESIGNS IDEAS</strong>
                        <span class="heading add">NEW</span>
                        <span class="heading add">COLLECTION</span>
                        <div class="s-txt">
                          <p>Consectetur adipisicing elit. Beatae accusamus, optio, repellendus inventore</p>
                        </div>
                        <a href="product-detail.html" class="s-shop">SHOP NOW</a>
                      </div>
                    </div><!-- holder end here -->
                    <!-- holder start here -->
                    <div class="s-holder">
                      <img src="assets/images/sliders/img08.jpg" alt="images description">
                      <div class="s-box">
                        <strong class="s-title">FURNITURE DESIGNS IDEAS</strong>
                        <span class="heading">Upholstered fabric</span>
                        <span class="heading add">Counter stool</span>
                        <div class="s-txt">
                          <p>Consectetur adipisicing elit. Beatae accusamus, optio, repellendus inventore</p>
                        </div>
                      </div>
                    </div><!-- holder end here -->
                    <!-- holder start here -->
                    <div class="s-holder">
                      <img src="assets/images/sliders/img09.jpg" alt="assets/images description">
                      <div class="s-box">
                        <strong class="s-title">FURNITURE DESIGNS IDEAS</strong>
                        <span class="heading">Upholstered fabric</span>
                        <span class="heading add">Counter stool</span>
                        <div class="s-txt">
                          <p>Consectetur adipisicing elit. Beatae accusamus, optio, repellendus inventore</p>
                        </div>
                      </div>
                    </div><!-- holder end here -->
                    <!-- holder start here -->
                    <div class="s-holder">
                      <img src="assets/images/sliders/img10.jpg" alt="assets/images description">
                      <div class="s-box">
                        <strong class="s-title">KITCHEN ACCESSORIES</strong>
                        <span class="heading">Wooden chopping board</span>
                        <span class="heading add">Chopping Boards</span>
                        <div class="s-txt">
                          <p>Remo is a cutting board in solid oak wood, with an explicit reference to the oars of the boats.</p>
                        </div>
                      </div>
                    </div><!-- holder end here -->
                  </div>
                </div><!-- slider 7 end here -->
                <!-- banner box third start here -->
                <div class="banner-box third wow fadeInRight" data-wow-delay="0.4s">
                  <!-- banner 12 right white start here -->
                  <div class="banner-12 right white wow fadeInUp" data-wow-delay="0.4s">
                    <img src="assets/images/banner/img12.jpg" alt="assets/images description">
                    <div class="holder">
                      <h2><span>Chairs</span><strong>ZIO DINING CHAIR</strong></h2>
                      <a class="btn-shop" href="product-detail.html">
                        <span>SHOP NOW</span>
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                  </div><!-- banner 12 right white end here -->
                  <!-- banner 13 right start here -->
                  <div class="banner-13 right wow fadeInDown" data-wow-delay="0.4s">
                    <img src="assets/images/banner/img13.jpg" alt="assets/images description">
                    <div class="holder">
                      <h2><span>Accessories / Lighting</span><strong>TOTEM FLOOR LAMP</strong></h2>
                      <a class="btn-shop" href="product-detail.html">
                        <span>SHOP NOW</span>
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                  </div><!-- banner 13 right end here -->
                </div><!-- banner box third end here -->
              </div><!-- banner frame end here -->
              <!-- F Promo Box style2 of the Page -->
              <aside class="f-promo-box style2 wow fadeInUp" data-wow-delay="0.4s">
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-sm-3">
                      <!-- F Widget Item of the Page -->
                      <div class="f-widget-item">
                        <span class="widget-icon"><i class="fa fa-plane"></i></span>
                        <div class="txt-holder">
                          <h1 class="f-promo-box-heading">FREE SHIPPING</h1>
                          <p>Free shipping on all US order</p>
                        </div>
                      </div>
                      <!-- F Widget Item of the Page end -->
                    </div>
                    <div class="col-xs-12 col-sm-3">
                      <!-- F Widget Item of the Page -->
                      <div class="f-widget-item border">
                        <span class="widget-icon"><i class="fa fa-life-ring"></i></span>
                        <div class="txt-holder">
                          <h1 class="f-promo-box-heading">SUPPORT 24/7</h1>
                          <p>We support 24 hours a day</p>
                        </div>
                      </div>
                      <!-- F Widget Item of the Page end -->
                    </div>
                    <div class="col-xs-12 col-sm-3">
                      <!-- F Widget Item of the Page -->
                     <!-- <div class="f-widget-item border">
                        <span class="widget-icon"><i class="fa fa-dropbox"></i></span>
                        <div class="txt-holder">
                          <h1 class="f-promo-box-heading">GIFT CARDS</h1>
                          <p>Give perfect gift</p>
                        </div>
                      </div>-->
                      <!-- F Widget Item of the Page end -->
                    </div>
                    <div class="col-xs-12 col-sm-3">
                      <!-- F Widget Item of the Page -->
                      <div class="f-widget-item border">
                        <span class="widget-icon"><i class="fa fa-money"></i></span>
                        <div class="txt-holder">
                          <h1 class="f-promo-box-heading">PAYMENT 100% SECURE</h1>
                          <p>Payment 100% secure</p>
                        </div>
                      </div>
                      <!-- F Widget Item of the Page end -->
                    </div>
                  </div>
                </div>
              </aside>
              <!-- F Promo Box of the Page end -->
              <!-- banner frame start here -->
              <div class="banner-frame nospace wow fadeInUp" data-wow-delay="0.4s">
                <!-- banner 9 start here -->
                <div class="banner-9">
                  <img alt="assets/images description" src="assets/images/banner/img20.jpg">
                  <div class="holder">
                    <h2><span>Wall Decor</span><strong>CLOCKs</strong></h2>
                    <a href="product-detail.html" class="btn-shop">
                      <span>VIEW</span>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </div><!-- banner 9 end here -->
                <!-- banner 10 start here -->
                <div class="banner-10">
                  <img alt="assets/images description" src="assets/images/banner/img21.jpg">
                  <div class="holder">
                    <h2><span>Coffee Tables</span><strong>S.O.S. BLOCKS</strong></h2>
                    <a href="product-detail.html" class="btn-shop">
                      <span>VIEW</span>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </div><!-- banner 10 end here -->
                <!-- banner 11 start here -->
                <div class="banner-11">
                  <img alt="assets/images description" src="assets/images/banner/img19.jpg">
                  <div class="holder">
                    <h2><span>Floor Lamps</span><strong>ROCKING LAMP</strong></h2>
                    <a href="product-detail.html" class="btn-shop">
                      <span>VIEW</span>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </div><!-- banner 11 end here -->
              </div><!-- banner frame end here -->
              <!-- mt producttabs style5 start here -->
              <div class="mt-producttabs style5 wow fadeInUp" data-wow-delay="0.4s">
                <!-- producttabs start here -->
                <ul class="producttabs">
                  <li><a href="#tab1" class="active">FEATURED</a></li>
                  <li><a href="#tab2">LATEST</a></li>
                  <li><a href="#tab3">BEST SELLER</a></li>
                </ul>
                <!-- producttabs end here -->
                <div class="tab-content row">
                  <div id="tab1">
                    <!-- tabs slider start here -->
                    <div class="tabs-sliderlg">
                      <!-- slide start here -->
                      <div class="slide">
                        <!-- mt product2 start here -->
                        <div class="mt-product2 large bg-grey">
                          <!-- box start here -->
                          <div class="box">
                            <img alt="assets/images description" src="assets/images/products/img28.jpg">
                            <ul class="mt-stars">
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star-o"></i></li>
                            </ul>
                            <ul class="links">
                              <li><a href="#"><i class="icon-handbag"></i></a></li>
                              <li><a href="#"><i class="icon-heart"></i></a></li>
                              <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                            </ul>
                          </div><!-- box end here -->
                          <!-- txt end here -->
                          <div class="txt">
                            <strong class="title">Bombi Chair</strong>
                            <span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span>
                          </div><!-- txt end here -->
                        </div><!-- mt product2 end here -->
                      </div><!-- slide end here -->
                      <!-- slide start here -->
                      <div class="slide">
                        <!-- mt product2 start here -->
                        <div class="mt-product2 large bg-grey">
                          <!-- box start here -->
                          <div class="box">
                            <img alt="assets/images description" src="assets/images/products/img29.jpg">
                            <ul class="links">
                              <li><a href="#"><i class="icon-handbag"></i></a></li>
                              <li><a href="#"><i class="icon-heart"></i></a></li>
                              <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                            </ul>
                          </div><!-- box end here -->
                          <!-- txt end here -->
                          <div class="txt">
                            <strong class="title">Marvelous Modern 3 Seater</strong>
                            <span class="price"><i class="fa fa-eur"></i> <span>599,00</span></span>
                          </div><!-- txt end here -->
                        </div><!-- mt product2 end here -->
                      </div><!-- slide end here -->
                      <!-- slide start here -->
                      <div class="slide">
                        <!-- mt product2 start here -->
                        <div class="mt-product2 large bg-grey">
                          <!-- box start here -->
                          <div class="box">
                            <img alt="assets/images description" src="assets/images/products/img30.jpg">
                            <span class="caption">
                              <span class="off">15% Off</span>
                            </span>
                            <ul class="mt-stars">
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star-o"></i></li>
                            </ul>
                            <ul class="links">
                              <li><a href="#"><i class="icon-handbag"></i></a></li>
                              <li><a href="#"><i class="icon-heart"></i></a></li>
                              <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                            </ul>
                          </div><!-- box end here -->
                          <!-- txt end here -->
                          <div class="txt">
                            <strong class="title">Puff  Armchair</strong>
                            <span class="price"><i class="fa fa-eur"></i> <span>200,00</span></span>
                          </div><!-- txt end here -->
                        </div><!-- mt product2 end here -->
                      </div><!-- slide end here -->
                      <!-- slide start here -->
                      <div class="slide">
                        <!-- mt product2 start here -->
                        <div class="mt-product2 large bg-grey">
                          <!-- box start here -->
                          <div class="box">
                            <img alt="assets/images description" src="assets/images/products/img28.jpg">
                            <ul class="links">
                              <li><a href="#"><i class="icon-handbag"></i></a></li>
                              <li><a href="#"><i class="icon-heart"></i></a></li>
                              <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                            </ul>
                          </div><!-- box end here -->
                          <!-- txt end here -->
                          <div class="txt">
                            <strong class="title">Bombi Chair</strong>
                            <span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span>
                          </div><!-- txt end here -->
                        </div><!-- mt product2 end here -->
                      </div><!-- slide end here -->
                      <!-- slide start here -->
                      <div class="slide">
                        <!-- mt product2 start here -->
                        <div class="mt-product2 large bg-grey">
                          <!-- box start here -->
                          <div class="box">
                            <img alt="assets/images description" src="assets/images/products/img29.jpg">
                            <ul class="links">
                              <li><a href="#"><i class="icon-handbag"></i></a></li>
                              <li><a href="#"><i class="icon-heart"></i></a></li>
                              <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                            </ul>
                          </div><!-- box end here -->
                          <!-- txt end here -->
                          <div class="txt">
                            <strong class="title">Marvelous Modern 3 Seater</strong>
                            <span class="price"><i class="fa fa-eur"></i> <span>599,00</span></span>
                          </div><!-- txt end here -->
                        </div><!-- mt product2 end here -->
                      </div>
                    </div>
                    <!-- tabs slider end here -->
                  </div>
                </div>
              </div><!-- mt producttabs end here -->
  
              
              <!-- banner frame start here -->
              <div class="banner-frame wow fadeInUp" data-wow-delay="0.4s">
              </div><!-- banner frame end here -->
            </div>
          </div>
        </div>
      </main>
      <!-- footer of the Page -->
      <app-footer></app-footer>
      <!-- footer of the Page end -->
    </div>
    <!-- W1 end here -->
    <span id="back-top" class="fa fa-arrow-up"></span>
  </div>
  
  <!-- include jQuery -->
  <script src="assets/js/jquery.js"></script>
  <!-- include jQuery -->
  <script src="assets/js/plugins.js"></script>
  <!-- include jQuery -->
  <script src="assets/js/jquery.main.js"></script>
